<!-- Wappler include head-page="layouts/DefaultLayout" jquery_slim_33="cdn" fontawesome_4="cdn" bootstrap4="local" is="dmx-app" id="posts" appConnect="local" -->
<div class="container">
    <div class="row">
        <div class="col">
            <div class="d-flex mt-5 justify-content-between">
                <div class="dropdown">
                    <button id="dropdown2" class="btn dropdown-toggle btn-outline-secondary btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort By
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdown1">
                        <a class="dropdown-item" href="#">Popularity</a>
                        <a class="dropdown-item" href="#">Date Ascending</a>
                        <a class="dropdown-item" href="#">Date Descending</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button id="dropdown1" class="btn dropdown-toggle btn-outline-secondary btn-sm ml-4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Make
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdown1">
                        <a class="dropdown-item" href="#">Company 1</a>
                        <a class="dropdown-item" href="#">Company 2</a>
                        <a class="dropdown-item" href="#">Company 3</a>
                    </div>
                </div>
                <input id="search" name="search" type="search" class="form-control form-control-sm ml-4" placeholder="Search">
            </div>
        </div>
    </div>
</div>
<meta name="ac:route" content="/posts">